<html>
<head></head>
<body>
    <iframe id="op" src="{{ op_location }}" style="display: none;"></iframe>
    <script type="text/javascript">
        var op_iframe = document.getElementById("op");

        function check_session() {
            var client_id = "{{ client_id }}";
            var session_state = getCookieValue("{{ cookie_name }}");

            op_iframe.contentWindow.postMessage(
                client_id + " " + session_state,
                "{{ op_location }}"
            );
        }

        function getCookieValue(cookieName) {
            var name = cookieName + "=";
            var cookies = document.cookie.split(';');
            if (!cookies) {
                return null;
            }
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf(name) == 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return null;
        }

        function receiveMessage(e) {
            if (e.origin !== "{{ identity_server }}" ) {return;}
            stat = e.data;

            if( stat == "changed" ) {
                window.parent.location.replace('{% url 'keycloak_logout' %}')
            }
        }

        window.addEventListener("message", receiveMessage, false);

        op_iframe.onload = function() {
            check_session();
            setInterval("check_session()", 3 * 1000);
        }
    </script>
</body>
</html>
